<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="<?= Utils::myURL("css.login") . '.css' ?>">
</head>
<body>
  <div class="home-outer">
    <div class="home">

      <img src="<?= Utils::myURL("img.bip_logo") . '.png' ?>"/ style="height:150px;"/>
      <h2>Bin Images Portal(BiP)</h2>
      <p>Track, manage and effect database changes efficiently,quickly and conveniently</p>

      <br><button onclick="document.getElementById('id01').style.display='block'" style="width:200px;margin-top:10px;border-radius:5px;background:#CD5C5C;">Login</button>
    </div>
  </div>


<div id="id01" class="modal">
  
  <form class="modal-content animate" style="width:60%" action="<?= Utils::myURL("user.login")?>" method="post">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
      <img src="<?= Utils::myURL("img.avatar") . '.png' ?>" alt="Avatar" class="avatar" style="height:80px;width:80px;">
    </div>

    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
        
      <button type="submit">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="<?= Utils::myURL("user.passReset") ?>">password?</a></span>
    </div>
  </form>
</div>

<script>
// Get the modal
var modal = document.getElementById('id01');

var show_login = "<?php echo (isset($this->view_data['show_login']) && $this->view_data['show_login']) ? true : false ?>";
if (show_login) {
  document.getElementById('id01').style.display='block';
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>

</body>
</html>
