
<a href="/car/index/">View car</a>
<a href="/car/edit/">Edit car</a>
<a href="/car/delete/">Delete car</a>
<h1>Show car list</h1>

<?php 
    if (array_key_exists('cars', $this->view_data)) {
        $table = '<table border=1>';
        foreach ($this->view_data['cars'] as $car){
            $car_info = explode(',', $car);
            $table .= '<tr>';
            foreach ($car_info as $item){
                $table .= '<td>' . $item . '</td>';
            }
            $table .= '</tr>';
        }
        $table .= '</table>';
        
        echo $table;
    }
?>
