<html>
 <head> 
</head>
    <form  name="mainform" method="post" action="#">
      <div class="container" >
      <div class="form-group">

        <div class="rows">
            <h1>Error occured</h1>
        </div><hr>
        
        <button type="submit" id="submitbutton">Add</button>
           

  </div>
  </div>

  </form>
</html>