
<!DOCTYPE html>
<html> 
  <head>
  <title><?= $this->page_title ?></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <style type="text/css">
    #navigation{
      color:#CD5C5C;
    }
  </style>
</head>
<body>
<div class="wrapper" >

      <header class="main-header" style="background:silver;">
              <!-- Header Navbar: style can be found in header.less -->
              <nav class="navbar navbar-static-top" role="navigation" >
                      <!-- Sidebar toggle button-->
                    <a href="#" id="navbar-toggle-button" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                      <span class="sr-only">Toggle navigation</span>
                          </a>
                    
                    <div class="navbar-custom-menu" style="margin-left:450px;">
                        <ul class="nav navbar-nav" >
                          <li><a href="<?= Utils::myURL("home") ?>" id="navigation"  >Home</a></li>
                          <li><a href="<?= Utils::myURL("query.add") ?>"  id="navigation" >Add</a></li>
                          <li> <a href="<?= Utils::myURL("query") ?>" id="navigation" >New Queries</a></li>
                          <li><a href="<?= Utils::myURL("query.history") ?>"  id="navigation" >History</a></li>
                          <li><a href="<?= Utils::myURL("user.profile") ?>"  id="navigation" >Profile</a></li>
                          <li><a href="<?= Utils::myURL("user.logout") ?>"  id="navigation">sign out</a></li>
                       </ul>
                    </div>

              </nav>
    </header>
        <hr>

            
          </div>

</body>
</html>