
<a href="/car/index/">View car</a>
<a href="/car/edit/">Edit car</a>
<a href="/car/delete/">Delete car</a>
<h1>Show USer list</h1>

<?php 
    $table = '<table border=1>';
    foreach ($this->view_data['users'] as $user){
        $table .= '<tr>';
            $table .= '<td>' . var_dump($user) . '</td>';
        $table .= '</tr>';
    }
    $table .= '</table>';
    
    echo $table;
?>
