<html>
 <head> 
<style type="text/css">
#database{
  width:250px;
}
label{
  color:#CD5C5C;
}
.main{
  margin-left:10px;
}
#submitbutton
{
  background:#CD5C5C;
  color:white;
  width:150px;
  height:40px;
  border:1px solid #CD5C5C;
  border-radius:5px;

}

</style>
   
</head>
    <form  name="mainform" method="post" action="#">
      <div class="container" >
      <div class="form-group">

        <div class="rows">
            <h1>User Profile</h1>
        </div><hr>
        
        <button type="submit" id="submitbutton">Add</button>
           

  </div>
  </div>

  </form>
</html>