<html>
 <head> 
<style type="text/css">
#database{
  width:250px;
}
label{
  color:#CD5C5C;
}
.main{
  margin-left:10px;
}
#submitbutton
{
  background:#CD5C5C;
  color:white;
  width:150px;
  height:40px;
  border:1px solid #CD5C5C;
  border-radius:5px;

}

</style>
   
</head>
    <form  name="mainform" method="post" action="#">
      <div class="container" >
      <div class="form-group">
        <div class="row">
          <div class="col-sm-4">
            <label for="sel1">Select Target System:</label>
            <select class="form-control" id="database">
                <option>eAuction</option>
                <option>Flip</option>
                <option>Invoice Discounting</option>
                <option>Nguruwe Firm</option>
            </select>
          </div>

          <div class="col-sm-4">
            <label for="sel1">Select Database Instance (optional):</label>
            <select class="form-control" id="database">
                <option>database 1</option>
                <option>database 2</option>
                <option>database 3</option>
                <option>database 4</option>
            </select>
          </div>

          <div class="col-sm-4">
            <label for="sel1">Select Effect Table:</label>
              <select class="form-control" id="database">
                <option>table 1</option>
                <option>table 2</option>
                <option>table 3</option>
                <option>table 4</option>
            </select>
          </div>
        </div><br><hr>

        <div class="rows">
            <textarea name="query" form="mainform" rows="15" placeholder="Enter query here..." style="width: 100%;"></textarea>
        </div><hr>
        
        <button type="submit" id="submitbutton">Add</button>
           

  </div>
  </div>

  </form>
</html>