
<html>
<head>
  <style type="text/css">
  .queries{
    margin:10px;
    overflow-y: auto;   
    height:auto;
    width:98%;
  }
  .local{
    width:49%;
    padding: 15px;
    height:450px;
    overflow-y: auto;
    background:rgba(255,255,255,0.2);
    border:2px solid #5d5fb1;
    color:#20B2AA;
  }
  .remote{
    /*margin-left:660px;*/
    float: right;
    margin-top:-450px;
    width:48%;    
    padding: 15px;
    height:450px;
    overflow-y: auto;
    background:rgba(255,255,255,0.2);
    border:2px solid #5d5fb1;
    color:#20B2AA;

  }
  h4{
    color:#CD5C5C;
    margin-left:5px;
    
  }
  
#synchbutton
{
  /*margin-left:600px;*/
  background:#CD5C5C;
  color:white;
  width:150px;
  height:40px;
  border:1px solid #CD5C5C;
  border-radius:5px;

}
#pullbtn
{
  background:#008B8B;
  margin-top:5px;
  color:white;
  width:100px;
  height:30px;
  border:1px solid #008B8B;
  border-radius:5px;
  float: right;
}
#pushbtn
{ 
  background:#008B8B;
  margin-top:5px;
  color:white;
  width:100px;
  height:30px;
  border:1px solid #008B8B;
  border-radius:5px;

} 
  </style>
  

  
</head>
<div class="queries">
  <h4>Local queries
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    Remote queries</h4>
  <div class="local">

    <hr>
    DELIMITER $$

USE `eproc`$$

DROP TRIGGER /*!50032 IF EXISTS */ `updateExcessOfLoss`$$

CREATE
    /*!50017 DEFINER = 'root'@'localhost' */
    TRIGGER `updateExcessOfLoss` AFTER INSERT ON `c2b_confirmation` 
    FOR EACH ROW BEGIN
    -- create a transaction record
    DECLARE Trx_type VARCHAR(100);
    DECLARE Identifier VARCHAR(11);
    DECLARE Type_id INT(11);
    DECLARE Bal_before DOUBLE(10,2);
    DECLARE Bal_after DOUBLE(10,2);
    DECLARE Amount_payable DOUBLE(10,2);
    DECLARE Is_excess_paid INT(11);
    DECLARE Claim VARCHAR(50);
    DECLARE Message VARCHAR(500);
    DECLARE Client_Msisdn VARCHAR(50);
    DECLARE Client_Message VARCHAR(500);
    
    DECLARE Time_Value INT(11);
    DECLARE Time_Unit INT(11);
    DECLARE Release_Id INT(11); 
    DECLARE RepairID INT(11);
    DECLARE AssmID INT(11);
    SET Trx_type = 'Unknown'; 
    SET Is_excess_paid = 0; 
    SET Release_Id = SUBSTRING(NEW.`accountNo`, 5, LENGTH(NEW.`accountNo`) - 5);
    SET Identifier = SUBSTRING(NEW.`accountNo`, LENGTH(NEW.`accountNo`), 1);
    IF(Identifier = 'F') THEN
      SET Trx_type = 'Excess of Loss';
    END IF;
    SELECT `repair_id` FROM `eproc_release` WHERE `id` = Release_Id LIMIT 1 INTO Type_id;
    SELECT `assessment_id` FROM `eproc_repairs` WHERE `id` = Type_id LIMIT 1 INTO Type_id;
    SELECT `claim_id` FROM `eproc_assessments` WHERE `id` = Type_id LIMIT 1 INTO Type_id;
    SELECT `claim_number` FROM `eproc_claims` WHERE `claim_id` = Type_id LIMIT 1 INTO Claim;
    SELECT `amount_paid` FROM `eproc_claims` WHERE `claim_id` = Type_id LIMIT 1 INTO Bal_before;
    UPDATE `eproc_claims` SET `amount_paid`=(NEW.`amount`+Bal_before) WHERE `claim_id` = Type_id;
    SELECT `amount_paid` FROM `eproc_claims` WHERE `claim_id` = Type_id LIMIT 1 INTO Bal_after;
    SELECT `excess_amount` FROM `eproc_claims` WHERE `claim_id` = Type_id LIMIT 1 INTO Amount_payable;
    SELECT `value` FROM eproc_time_setting WHERE categoryid = (SELECT id FROM eproc_time_category WHERE NAME = 'release') AND `type` = 0 INTO Time_Value;
    SELECT `time` FROM eproc_time_setting WHERE categoryid = (SELECT id FROM eproc_time_category WHERE NAME = 'release') AND `type` = 0 INTO Time_Unit;
        
    IF(Bal_after >= Amount_payable) THEN
      SET Is_excess_paid = 1; 
      SET Message= CONCAT('Your deposit of amount Ksh. ',NEW.`amount`,' for Claim no.', Claim, ' has been received. Your excess is fully settled. Total deposit is Ksh. ', Bal_after, '. Mpesa Transaction code ',NEW.`tranId`,'. Thank you for using our services.');
      -- Send client a release letter notificatio
      SELECT `policy_holder_mobileno` FROM `eproc_booking` WHERE `claim_id` = Type_id LIMIT 1 INTO Client_Msisdn;
      SET Client_Message= CONCAT('Your excess of amount Ksh. ',Amount_payable,' for Claim no.', Claim, ' has been settled. Please go to the following link to generate your release letter: https://flip.innovexsolutions.co.ke/eproc/frontend/web/index.php?r=repairs%2Fgenerate-release&id=', Release_Id,'. Thank you for using our services.');
      -- Queue SMS      
      INSERT INTO eproc_sms 
        SET 
        `msisdn` = Client_Msisdn,
        `message` = Client_Message,
        `category` = 'letter'; 
      UPDATE `eproc_release` SET `release_status`='collection' WHERE `id` = Release_Id;
      CASE Time_Unit
          WHEN 0 THEN UPDATE `eproc_release` SET `release_duedate` = DATE_ADD(TIMESTAMP(CONCAT(CONVERT(CURRENT_DATE(), CHAR), ' 17:00:00')), INTERVAL Time_Value DAY) WHERE `id` = Release_Id;
          WHEN 1 THEN UPDATE `eproc_release` SET `release_duedate` = DATE_ADD(TIMESTAMP(CONVERT(NOW(), CHAR)), INTERVAL Time_Value HOUR) WHERE `id` = Release_Id;
          WHEN 2 THEN UPDATE `eproc_release` SET `release_duedate` = DATE_ADD(TIMESTAMP(CONVERT(NOW(), CHAR)), INTERVAL Time_Value MINUTE) WHERE `id` = Release_Id;
          ELSE BEGIN END;
      END CASE;
    ELSE
      SET Message= CONCAT('Your deposit of amount Ksh. ',NEW.`amount`,' for Claim no. ',Claim, ' has been received. Total deposit is Ksh. ', Bal_after, '. Please deposit the pending balance of Ksh. ', (Amount_payable - Bal_after) ,' to facilitate release of the asset. Mpesa Transaction code is ',NEW.`tranId`,'. Thank you for using our services.');
    END IF;
    -- Queue SMS      
    INSERT INTO eproc_sms 
      SET 
      `msisdn` = NEW.`msisdn`,
      `message` = Message,
      `category` = 'deposit'; 
    UPDATE `eproc_claims` SET `excess_paid`=Is_excess_paid WHERE `claim_id` = Type_id;
    INSERT INTO eproc_mpesa 
      SET 
      `tranId` = NEW.`tranId`,
      `c2b_id` = NEW.`id`,
      `amount` = NEW.`amount`,
      `bal_before` = Bal_before,
      `bal_after` = Bal_after,
      `type` = Trx_type,
      `type_id` = Type_id,    
      `date_created`= NOW();  
  END;
$$

DELIMITER ;



ALTER TABLE eproc.eproc_claims ADD claim_comm_status varchar(100) DEFAULT 1 NOT NULL COMMENT '0 - none sent, 1 - notification sent, 2 - alert sent' ;
ALTER TABLE eproc.eproc_claims ADD comm_date DATETIME NULL COMMENT 'Date the most recent communication was sent out' ;
ALTER TABLE eproc.eproc_assessments ADD offer_duedate DATETIME NULL ;
ALTER TABLE eproc.eproc_assessments ADD offer_comms_status INT DEFAULT 1 NOT NULL COMMENT '0 - none sent, 1 - notification sent, 2 - alert sent' ;
  </div>
  
    
  <div class="remote">
    
    <hr>
    DELIMITER $$

USE `eproc`$$

DROP TRIGGER /*!50032 IF EXISTS */ `updateExcessOfLoss`$$

CREATE
    /*!50017 DEFINER = 'root'@'localhost' */
    TRIGGER `updateExcessOfLoss` AFTER INSERT ON `c2b_confirmation` 
    FOR EACH ROW BEGIN
    -- create a transaction record
    DECLARE Trx_type VARCHAR(100);
    DECLARE Identifier VARCHAR(11);
    DECLARE Type_id INT(11);
    DECLARE Bal_before DOUBLE(10,2);
    DECLARE Bal_after DOUBLE(10,2);
    DECLARE Amount_payable DOUBLE(10,2);
    DECLARE Is_excess_paid INT(11);
    DECLARE Claim VARCHAR(50);
    DECLARE Message VARCHAR(500);
    DECLARE Client_Msisdn VARCHAR(50);
    DECLARE Client_Message VARCHAR(500);
    
    DECLARE Time_Value INT(11);
    DECLARE Time_Unit INT(11);
    DECLARE Release_Id INT(11); 
    DECLARE RepairID INT(11);
    DECLARE AssmID INT(11);
    SET Trx_type = 'Unknown'; 
    SET Is_excess_paid = 0; 
    SET Release_Id = SUBSTRING(NEW.`accountNo`, 5, LENGTH(NEW.`accountNo`) - 5);
    SET Identifier = SUBSTRING(NEW.`accountNo`, LENGTH(NEW.`accountNo`), 1);
    IF(Identifier = 'F') THEN
      SET Trx_type = 'Excess of Loss';
    END IF;
    SELECT `repair_id` FROM `eproc_release` WHERE `id` = Release_Id LIMIT 1 INTO Type_id;
    SELECT `assessment_id` FROM `eproc_repairs` WHERE `id` = Type_id LIMIT 1 INTO Type_id;
    SELECT `claim_id` FROM `eproc_assessments` WHERE `id` = Type_id LIMIT 1 INTO Type_id;
    SELECT `claim_number` FROM `eproc_claims` WHERE `claim_id` = Type_id LIMIT 1 INTO Claim;
    SELECT `amount_paid` FROM `eproc_claims` WHERE `claim_id` = Type_id LIMIT 1 INTO Bal_before;
    UPDATE `eproc_claims` SET `amount_paid`=(NEW.`amount`+Bal_before) WHERE `claim_id` = Type_id;
    SELECT `amount_paid` FROM `eproc_claims` WHERE `claim_id` = Type_id LIMIT 1 INTO Bal_after;
    SELECT `excess_amount` FROM `eproc_claims` WHERE `claim_id` = Type_id LIMIT 1 INTO Amount_payable;
    SELECT `value` FROM eproc_time_setting WHERE categoryid = (SELECT id FROM eproc_time_category WHERE NAME = 'release') AND `type` = 0 INTO Time_Value;
    SELECT `time` FROM eproc_time_setting WHERE categoryid = (SELECT id FROM eproc_time_category WHERE NAME = 'release') AND `type` = 0 INTO Time_Unit;
        
    IF(Bal_after >= Amount_payable) THEN
      SET Is_excess_paid = 1; 
      SET Message= CONCAT('Your deposit of amount Ksh. ',NEW.`amount`,' for Claim no.', Claim, ' has been received. Your excess is fully settled. Total deposit is Ksh. ', Bal_after, '. Mpesa Transaction code ',NEW.`tranId`,'. Thank you for using our services.');
      -- Send client a release letter notificatio
      SELECT `policy_holder_mobileno` FROM `eproc_booking` WHERE `claim_id` = Type_id LIMIT 1 INTO Client_Msisdn;
      SET Client_Message= CONCAT('Your excess of amount Ksh. ',Amount_payable,' for Claim no.', Claim, ' has been settled. Please go to the following link to generate your release letter: https://flip.innovexsolutions.co.ke/eproc/frontend/web/index.php?r=repairs%2Fgenerate-release&id=', Release_Id,'. Thank you for using our services.');
      -- Queue SMS      
      INSERT INTO eproc_sms 
        SET 
        `msisdn` = Client_Msisdn,
        `message` = Client_Message,
        `category` = 'letter'; 
      UPDATE `eproc_release` SET `release_status`='collection' WHERE `id` = Release_Id;
      CASE Time_Unit
          WHEN 0 THEN UPDATE `eproc_release` SET `release_duedate` = DATE_ADD(TIMESTAMP(CONCAT(CONVERT(CURRENT_DATE(), CHAR), ' 17:00:00')), INTERVAL Time_Value DAY) WHERE `id` = Release_Id;
          WHEN 1 THEN UPDATE `eproc_release` SET `release_duedate` = DATE_ADD(TIMESTAMP(CONVERT(NOW(), CHAR)), INTERVAL Time_Value HOUR) WHERE `id` = Release_Id;
          WHEN 2 THEN UPDATE `eproc_release` SET `release_duedate` = DATE_ADD(TIMESTAMP(CONVERT(NOW(), CHAR)), INTERVAL Time_Value MINUTE) WHERE `id` = Release_Id;
          ELSE BEGIN END;
      END CASE;
    ELSE
      SET Message= CONCAT('Your deposit of amount Ksh. ',NEW.`amount`,' for Claim no. ',Claim, ' has been received. Total deposit is Ksh. ', Bal_after, '. Please deposit the pending balance of Ksh. ', (Amount_payable - Bal_after) ,' to facilitate release of the asset. Mpesa Transaction code is ',NEW.`tranId`,'. Thank you for using our services.');
    END IF;
    -- Queue SMS      
    INSERT INTO eproc_sms 
      SET 
      `msisdn` = NEW.`msisdn`,
      `message` = Message,
      `category` = 'deposit'; 
    UPDATE `eproc_claims` SET `excess_paid`=Is_excess_paid WHERE `claim_id` = Type_id;
    INSERT INTO eproc_mpesa 
      SET 
      `tranId` = NEW.`tranId`,
      `c2b_id` = NEW.`id`,
      `amount` = NEW.`amount`,
      `bal_before` = Bal_before,
      `bal_after` = Bal_after,
      `type` = Trx_type,
      `type_id` = Type_id,    
      `date_created`= NOW();  
  END;
$$

DELIMITER ;



ALTER TABLE eproc.eproc_claims ADD claim_comm_status varchar(100) DEFAULT 1 NOT NULL COMMENT '0 - none sent, 1 - notification sent, 2 - alert sent' ;
ALTER TABLE eproc.eproc_claims ADD comm_date DATETIME NULL COMMENT 'Date the most recent communication was sent out' ;
ALTER TABLE eproc.eproc_assessments ADD offer_duedate DATETIME NULL ;
ALTER TABLE eproc.eproc_assessments ADD offer_comms_status INT DEFAULT 1 NOT NULL COMMENT '0 - none sent, 1 - notification sent, 2 - alert sent' ;
  </div>
  
  <button type="submit" id="pushbtn" >Push</button>
  <button type="submit" id="pullbtn" >Pull</button>
</div>
<div style="width: 100%; text-align: center;">
  <button type="submit" id="synchbutton">Synchronize</button>
</div>
</html>
